<div class="row" *ngIf="result">
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let item of result">
    <div class="card">
      <img class="card-img-top" src='{{item.images[0]}}'/>
      <div class="card-block">
        <h4 class="card-title">{{item.itemName}}</h4>
        <div class="meta">
          <a href="#">From</a>
        </div>
        <div class="card-text">
          {{item.price}}
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary btn-block">Buy Now</a>
      </div>
    </div>
  </div>
</div>
